---
layout: base
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}

<!-- lateral -->
<ins class="adsbygoogle ad-right-post hidden-xs hidden-sm hidden-md"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-9583933743007872"
     data-ad-slot="6317574545"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<article>

    <div class="container">
        <!-- Cabeçalho -->
        <div class="ad-top-index hidden-xs">
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-9583933743007872"
                 data-ad-slot="2026975747"></ins>
        </div>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
        <header>
            <div class="meta">
                Por <address><a rel="author" href="{{ page.author.link }}" title="{{ page.author.name }}" target="_blank">{{ page.author.name }}</a></address> &mdash;
                <time pubdate datetime="{{ page.date | date: "%d/%m/%Y" }}" title="{{ page.date | date: "%d/%m/%Y" }}">{{ page.date | date: "%d/%m/%Y" }}</time>
            </div>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>
            {{ content }}
            {% include _social.html %}
        </section>

        <footer>
            <address>
               {% if page.author.image %}<img src="/images/{{ page.author.image }}">{% endif %}
                <p>Escrito por <strong>{{ page.author.name }}</strong><br>
                <span class="muted">{{ page.author.bio }}</span>
                </p>
            </address>

        </footer>

        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
    </div>
</article>
